::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 70px;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
}

nav .logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
}

nav .logo img {
  height: 90px;
  width: 90px;
}

nav .nav-items {
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-direction: row; /* Column direction for mobile view */
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  list-style: none;
  gap: 15px;
}
.gallery {
  overflow: hidden;
}

nav ul li {
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

nav .nav-items.active {
  display: flex; /* Show when active */
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  flex-direction: column;
}

.background {
  background-image: url("https://github.com/ogfrankies/website/blob/main/main.JPG?raw=true");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  text-align: left;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-left #visit-button {
  padding: 10px 20px;
  background-color: #e7c873;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.visit-text {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 800px) {
  .bottom-left {
    bottom: 30px;
    left: 30px;
    padding: 10px 5px;
  }

  .visit-text {
    font-size: 40px;
  }

  .cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
  }

  nav ul li {
    font-size: 10px;
  }
  .nav__toggle {
    display: block !important;
  }
  nav ul {
    display: none;
    flex-direction: column;
    top: -50%;
    transition: all ease 0.4s;
  }

  .toggled {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.toggled ul {
  display: flex;
  transition: all ease;
  text-align: center;
  width: 100%;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 35%;
  right: 7%;
}
.nav__toggle {
  color: white;
  font-weight: 800;
}

.slider {
  position: relative;
  width: 80%;
  overflow: hidden;
}
.slider-track {
  display: flex;
  gap: 10px;
}
.slider img {
  max-width: 100%;
  height: auto;
  display: block;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.arrow-left {
  left: 2%;
}
.arrow-right {
  right: 2%;
}
@media (max-width: 768px) {
  .slider img {
    width: 50%;
  }
  #resp {
    flex-direction: column !important;
  }
  #find {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #dis {
    flex-direction: column !important;
  }
  #to-be {
    width: 100% !important;
    margin-bottom: 40px;
  }
  #l {
    width: 100% !important;
  }
  #something {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 480px) {
  .slider img {
    width: 100%;
  }
  .slider-track {
    justify-content: start;
  }
}
.card {
  width: 290px;
  height: 354px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  justify-self: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: #ffcaa6;
  height: 60%;
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.imagee {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 4px;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
  height: 70px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #d3a79b;
  background-color: #d3a79b;
}
.card-button .svg-icon {
  transition: 0.3s ease-in-out;
}
.card-button:hover .svg-icon path {
  fill: white;
}
#card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
#card-container-rice {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

#card-container-sides {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
#card-container-drinks {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #card-container-rice {
    grid-template-columns: repeat(3, 1fr);
  }

  #card-container-sides {
    grid-template-columns: repeat(3, 1fr);
  }
  #card-container-drinks {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #card-container-rice {
    grid-template-columns: repeat(2, 1fr);
  }
  #card-container-sides {
    grid-template-columns: repeat(2, 1fr);
  }
  #card-container-drinks {
    grid-template-columns: repeat(2, 1fr);
  }
  #nav-items ul li a {
    font-size: 20px;
    gap: 10px;
  }
  #nav-items {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  #to-be-row {
    flex-direction: column !important;
    padding: 20px !important;
  }
  #sefe {
    width: 100% !important;
  }
  #feg {
    width: 100% !important;
    padding: 5px !important;
  }
  .div-w {
    width: 100% !important;
  }
  .flexx {
    flex-direction: column !important;
  }
  .flxxxx {
    width: 100% !important;
  }

  .inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  .arrowws {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  #card-container {
    grid-template-columns: 1fr;
  }
  #card-container-rice {
    grid-template-columns: 1fr;
  }
  #card-container-sides {
    grid-template-columns: 1fr;
  }
  #card-container-drinks {
    grid-template-columns: 1fr;
  }
}
.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  width: 90%;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(130, 130, 130);
}
.button {
  width: 120px;
  height: 20px;
  display: flex;
  padding: 20px;
  border-radius: 25px;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  /* border: 3px solid rgb(255, 239, 94); */
  background-color: #e7c873;
  box-shadow: black;
}

.textt {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7c873;
  font-weight: 600;
  color: black;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.button:active {
  transform: scale(0.97);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0px;
  color: black;
  border-top: #a1a1a1 1px solid;
}
.footer .left,
.footer .center,
.footer .right {
  display: flex;
  align-items: center;
}
.footer .center {
  flex: 1;
  justify-content: center;
}
.footer .center img {
  max-height: 50px;
}
.footer .right a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
}
.left {
  margin-left: 10px;
}
.footer .right a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer .left,
  .footer .center,
  .footer .right {
    justify-content: center;
    margin: 5px 0;
  }
  .footer .right a {
    margin: 0 10px;
  }
  #about-us {
    margin: auto !important;
    margin-bottom: 20px !important;
  }
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #151515;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e94966;
  color: #fff;
}
#somee {
  color: black;
}
#somee:hover {
  color: white;
}

.label {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.carousel-container {
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: white;
  position: relative;
  transition: transform 0.3s ease;
}

.carousel-container:hover {
  transform: translateY(-10px); /* Optional: Add a slight lift on hover */
}

.my-slider div {
  position: relative;
  overflow: hidden;
}

.my-slider img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carousel-container:hover .my-slider img {
  transform: scale(1.1);
}

.text {
  padding: 5px;
  text-align: center;
  width: 100%;
  font-size: 1.1em;
  background-color: #fff;
  color: #3e3e3e;
  transition: background-color 0.3s ease;
  margin-top: -4px;
}

.tns-nav {
  text-align: center;
  padding: 10px 0;
}

.tns-nav [aria-label] {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tns-nav [aria-label].tns-nav-active {
  background-color: #454645;
}

/* modal styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-content h2 {
  margin: 0;
  font-size: 24px;
}

.modal-content p {
  font-size: 18px;
  margin: 10px 0;
}

.modal-content .icon {
  font-size: 40px;
  color: #2bb673;
  margin-bottom: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
